:root {
  --button-text: #F4F6F9;
  --conn-prog-ht: 2px;
  --conn-line-wd: 64px;
  --content-wd-mx: 560px;
  --complete-bg: #5A4AD1;
  --form-wd-mx: 360px;
  --stage-dim: 36px;
}

* {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

/* ProductTitle */

.main-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.5rem;
  height: 30px;
  padding-left: 6px;
  padding-top: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#product-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

/* ProgressBar */

.complete {
  background-color: blue;
  border: none;
  color: white;
}

.connector {
  background-color: lightcyan;
  display: inline-block;
  height: var(--conn-prog-ht);
  vertical-align: middle;
  width: var(--conn-line-wd);
}

.connector-progress {
  background-color: blue;
  display: inline-block;
  height: var(--conn-prog-ht);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  vertical-align: text-top;
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}

.incomplete {
  background-color: white;
  border: 1px solid lightcyan;
}

.none {
  width: 0%;
}

#progress-bar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.stage {
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  height: var(--stage-dim);
  line-height: var(--stage-dim);
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: var(--stage-dim);
}

/* Content */

/* Tags */

button {
  background-color: var(--complete-bg);
  border: none;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--button-text);
  height: 36px;
  width: 100%;
}

form {
  margin-top: 25px;
  width: var(--form-wd-mx);
}

h3 {
  font-size: 2rem;
  text-align: center;
}

h5 {
  color: #9BA0AB;
  font-size: 1.1rem;
  margin-top: 10px;
  text-align: center;
}

/* Welcome */

#welcome {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: var(--content-wd-mx);
}

#welcome input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
  width: 100%;
}

/* HomeSetup */

#home-setup {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: var(--content-wd-mx);
}

#home-setup input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
  width: 100%;
}

#workspace-url-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#workspace-url-group input:disabled {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* UserSetup */

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#user-setup {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: var(--content-wd-mx);
}

/* UserOptionCard */

.for-description {
  color: #9BA0AB;
  margin-top: 8px;
  padding-left: 12px;
}

.for-user {
  font-weight: bold;
  margin-top: 4px;
  padding-left: 12px;
}

.selected {
  border-color: blue !important;
}

.user-option-card {
  border: 1px solid lightgray;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 16px;
  padding: 0px 12px 24px;
  width: 48%;
}

/* FinishSetup */

.checkMark {
  background-color: blue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 1.5em;
  height: 60px;
  line-height: 60px;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  width: 60px;
}

#finish-setup {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: var(--content-wd-mx);
}

#finish-setup button {
  margin-top: 24px;
  width: var(--form-wd-mx);
}

/* Responsive */

@media (max-width: 560px) {

  /* Content */

  /* Tags */

  form {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 10px;
    max-width: 560px;
    width: 100%;
  }

  /* Welcome */

  #welcome {
    max-width: var(--form-wd-mx);
    width: 100%;
  }

  /* HomeSetup */

  #home-setup {
    max-width: var(--form-wd-mx);
    width: 100%;
  }

  /* UserSetup */

  #user-setup {
    max-width: var(--form-wd-mx);
    width: 100%;
  }

  /* FinishSetup */

  #finish-setup {
    max-width: var(--form-wd-mx);
    width: 100%;
  }
  #finish-setup button {
    margin: 24px 10px 0px;
    max-width: 100%;
    width: 95%;
  }
}

@media (max-width: 420px) {

  /* Content */

  /* Tags */

  h3 {
    font-size: 1.5rem;
  }
  button {
    bottom: 0;
    left: 0;
    position: fixed;
  }
  form {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 10px;
    width: 100%;
  }

  /* Welcome */

  #welcome {
    min-width: 360px;
    width: 100%;
  }

  /* HomeSetup */

  #home-setup {
    min-width: 360px;
    width: 100%;
  }

  /* UserSetup */

  #user-setup {
    min-width: 360px;
    width: 100%;
  }

  /* UserOptionCard */

  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .user-option-card {
    margin-bottom: 8px;
    width: 100%;
  }

  /* FinishSetup */
  
  #finish-setup {
    min-width: 360px;
    width: 100%;
  }
  #finish-setup button {
    margin-top: 0px;
    width: 100%;
  }
}

@media (max-width: 280px) {
  :root {
    --conn-line-wd: 32px;
  }

  /* Content */

  /* Tags */

  h3 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1rem;
  }
  button {
    bottom: 0;
    left: 0;
    position: fixed;
  }
  form {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 10px;
    width: 100%;
  }

  /* Welcome */

  #welcome {
    width: 100%;
  }

  /* HomeSetup */

  #home-setup {
    width: 100%;
  }

  /* UserSetup */

  #user-setup {
    width: 100%;
  }

  /* UserOptionCard */

  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .user-option-card {
    margin-bottom: 8px;
    width: 100%;
  }

  /* FinishSetup */
  
  #finish-setup {
    width: 100%;
  }
  #finish-setup button {
    margin-top: 0px;
    width: 100%;
  }
}
